@import "~bootstrap/less/bootstrap";

@import "./components/keyframes";
@import "./components/loading";

body {
  background: #eee;
}

#photos {
  column-count: 3;
  column-gap: 1px;
}

#photos img  {
  margin-bottom: 1px;
}


